<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>NSAlarmKitUsageDescription</key>
	<string>讓你開啟「持續響鈴直到停止」的單次提醒（可搭配每天重複）在指定時刻響鈴，包括靜音或專注模式下。</string>
</dict>
</plist>
